.container{
    &-main{
        background-color: var(--color-grey-light-2);
        max-width: 130rem;
        min-height: 100vh;
        margin: 8rem auto;
        box-shadow: 0 2rem 15rem rgba(#333,.6)
    }

    &-sub{
        display: flex;

    }
}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: var(--color-grey-dark-3);

    &__img{
        height: 4rem;
        margin-left: 3rem;
        cursor: pointer;
    }
}

.navigation{
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-light-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%;

}



.main-section{
    background-color: var(--color-grey-light-2);
    flex: 1;


}

.details__section{
    display: flex;
    background-color: var(--color-grey-light-1);
    padding: 4.5rem;
}

.description__section{
    background-color: #fff;
    padding: 3rem;
    font-size: 1.4rem;
    flex: 0 0 55%;
    margin-right: 4.5rem;

    .paragraph{
        margin-bottom: 2.5rem;
        
    }

    .benefits--list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem 0;
        padding: 3rem 0;
        border-top: 1px solid var(--color-grey-light-4);
        border-bottom: 1px solid var(--color-grey-light-4);
        line-height: 2rem;


        .list--item{
            margin-bottom: .7rem;
            flex: 0 0 50%;
            text-transform: capitalize;

            ::before{
                content: "";
                width: 1rem;
                height: 1rem;
                display: inline-block;
                background-image: url(../img/icomoon/SVG/chevron-thin-right.svg);
            }
        }
    }

    .recommend{
        display: flex;
        text-transform: capitalize;
        font-size: 1.2rem;
        align-items: center;
        justify-content: space-between;

        &__friends{
            display: flex;

        
            .friends--img{
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-right: -1.75rem;
            }
        }


    }

}

.review__section{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    flex: 1;

    

    &--user{
        position: relative;
        background-color: #fff;
        margin-bottom: 3rem;
        padding: 3.5rem;
        display: flex;
        flex-direction: column;


        &::before{
            content: "\275D";
            position: absolute;
            top: -6.5rem;
            left: -1rem;
            font-size: 18rem;
            color: var(--color-grey-light-2);
            z-index: 1;

            
        }

        .review{
            margin-bottom: 3rem;
            font-size: 1.4rem;
            z-index: 2;

        }

        .review--box{
            display: flex;
            justify-content: center;
            align-items: center;

            

            &-img{
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                margin-right: 1.5rem;
            }

            &-name{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                font-weight: 600;
                font-size: 1.1rem;


                .name{
                    text-transform: uppercase;
                    margin-bottom: .5rem;
                }
            }

            &-rating{

                font-size: 2.3rem;
                font-weight: 100;
                color: var(--color-primary);

            }
        }
    }

    &--btn{
        font-size: 1.3rem;
        color: var(--color-primary);
        text-transform: uppercase;
        border-bottom: 1px solid var(--color-primary) !important;
        padding: .5rem 0;
        transition: all .2s;

        &:hover{
            color: var(--color-grey-dark-3);
            border-bottom-color: currentColor !important;
            letter-spacing: .5px;
        
        }
    }


}


.booking__section{

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &--details{
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 100;
    }
}
