:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-light)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-light));
  color: var(--color-grey-dark-2);
}

.container-main {
  background-color: var(--color-grey-light-2);
  max-width: 130rem;
  min-height: 100vh;
  margin: 8rem auto;
  -webkit-box-shadow: 0 2rem 15rem rgba(51, 51, 51, 0.6);
          box-shadow: 0 2rem 15rem rgba(51, 51, 51, 0.6);
}

.container-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
}

.header__img {
  height: 4rem;
  margin-left: 3rem;
  cursor: pointer;
}

.navigation {
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

.main-section {
  background-color: var(--color-grey-light-2);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
}

.description__section {
  background-color: #fff;
  padding: 3rem;
  font-size: 1.4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  margin-right: 4.5rem;
}

.description__section .paragraph {
  margin-bottom: 2.5rem;
}

.description__section .benefits--list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-4);
  border-bottom: 1px solid var(--color-grey-light-4);
  line-height: 2rem;
}

.description__section .benefits--list .list--item {
  margin-bottom: .7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-transform: capitalize;
}

.description__section .benefits--list .list--item ::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url(../img/icomoon/SVG/chevron-thin-right.svg);
}

.description__section .recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__section .recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__section .recommend__friends .friends--img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: -1.75rem;
}

.review__section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.review__section--user {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  padding: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__section--user::before {
  content: "\275D";
  position: absolute;
  top: -6.5rem;
  left: -1rem;
  font-size: 18rem;
  color: var(--color-grey-light-2);
  z-index: 1;
}

.review__section--user .review {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  z-index: 2;
}

.review__section--user .review--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__section--user .review--box-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.review__section--user .review--box-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.review__section--user .review--box-name .name {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.review__section--user .review--box-rating {
  font-size: 2.3rem;
  font-weight: 100;
  color: var(--color-primary);
}

.review__section--btn {
  font-size: 1.3rem;
  color: var(--color-primary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-primary) !important;
  padding: .5rem 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.review__section--btn:hover {
  color: var(--color-grey-dark-3);
  border-bottom-color: currentColor !important;
  letter-spacing: .5px;
}

.booking__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__section--details {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 100;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__box {
  width: 90%;
  font-size: inherit;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  background-color: var(--color-grey-light-2);
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: inherit;
  margin-right: -3.5rem;
}

.search__box:focus {
  width: 100%;
  outline: none;
}

.search__btn {
  background-color: var(--color-grey-light-2);
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.search__btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.search__btn:focus {
  outline: none;
}

.search__icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-grey-dark-2);
}

::-webkit-input-placeholder {
  color: var(--color-grey-dark-2);
}

.user__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__nav > * {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

.user__nav--box {
  cursor: pointer;
  position: relative;
}

.user__nav--box:hover {
  background-color: var(--color-grey-light-3);
}

.user__nav--icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-grey-dark-2);
}

.user__nav--notification {
  height: 1.8rem;
  width: 1.8rem;
  font-size: 1rem;
  position: absolute;
  top: 1.5rem;
  right: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
  border-radius: 50%;
  font-weight: 400;
}

.user__nav--photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.user__nav--name {
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: 500;
  color: var(--color-grey-dark-2);
}

.navigation__menu {
  list-style-type: none;
  margin-top: 4rem;
}

.navigation__menu--item {
  position: relative;
}

.navigation__menu--item:not(:last-child) {
  margin-bottom: .5rem;
}

.navigation__menu--item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  width: 3px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width .5s .2s, -webkit-transform .3s;
  transition: width .5s .2s, -webkit-transform .3s;
  transition: transform .3s, width .5s .2s;
  transition: transform .3s, width .5s .2s, -webkit-transform .3s;
}

.navigation__menu--item:hover::before,
.navigation__menu .active--item::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.navigation__menu--icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-light-1);
  margin-right: 2rem;
}

.navigation__menu--link:link, .navigation__menu--link:visited {
  text-decoration: none;
  color: inherit;
  display: block;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.navigation__menu--link:active .navigation__menu--item::before {
  width: 100%;
}

.copyright {
  text-align: center;
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  padding: 3rem;
  text-transform: capitalize;
  font-family: "Lato" sans-serif;
}

.gallery__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__section--img {
  position: relative;
}

.gallery__section--img::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.gallery__section--img:hover::before {
  background-color: rgba(204, 204, 204, 0.6);
}

.gallery__section--img:hover .hotel--name {
  opacity: 1;
}

.gallery__section .gallery--img {
  width: 100%;
  height: 100%;
}

.gallery__section .hotel--name {
  font-size: 2.5rem;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-weight: 600;
  z-index: 20;
  text-align: center;
  opacity: 0;
  padding: 1rem;
}

.overview__hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.overview__hotel--name {
  font-size: 2.25rem;
  text-transform: uppercase;
  padding: 2rem;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: 300;
  margin-right: 2rem;
}

.overview__hotel--star {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.overview__hotel--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--color-primary);
  font-weight: 400;
}

.overview__hotel--rating {
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  color: var(--color-grey-light-1);
  margin-right: -.1rem;
}

.overview__hotel .star, .overview__hotel .location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}

.overview__hotel .location--name {
  padding-bottom: .5rem;
  margin-left: .3rem;
  border-bottom: 1px solid var(--color-primary);
  cursor: pointer;
}

.overview__hotel .location--name:hover {
  color: var(--color-grey-dark-1);
  border-bottom-color: var(--color-grey-dark-1);
}

.overview__hotel .rating {
  font-size: 2.6rem;
}

.btn {
  background-color: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.number {
  color: var(--color-primary);
}

.booking--btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  padding: 1.5rem 6.5rem;
  border-radius: 10rem;
  color: var(--color-grey-light-2);
  font-size: 1.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking--btn span {
  display: inline-block;
  text-transform: capitalize;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.booking--btn .rooms-left {
  position: absolute;
  top: -4rem;
  opacity: 0;
}

.booking--btn:hover .book-now {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  opacity: 0;
}

.booking--btn:hover .rooms-left {
  top: 2.2rem;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */